nav {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #5534A5;
}
.link {
  padding: 10px 40px;
  text-decoration: none;
  color: #6FDFDF;
  text-transform: uppercase;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}
body {
  background-color: #A66CFF;
}
.cont {
  display: flex;
  justify-content: center;
}
.back {
  background-color: #B1E1FF;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.change {
  background-color: blanchedalmond;
  color: black;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h3, h4 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
button {
  margin: 10px;
}
.container {
  display: flex;
  justify-content: center;
  background-color: #630606;
}
.watch {
  margin: 10px;
}
.up {
  margin-top: 5px;
}
.btn {
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: #062C30;
  color: #E2D784;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}
.coner {
  display: flex;
  justify-content: center;
  background-color: #97DBAE;
}
.bt {
  background-color: #F1E1A6;
  color: #46244C;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}
.btns {
  display: flex;
  justify-content: space-evenly;
}
.coners {
  display: flex;
  justify-content: center;
  background-color: #8D8DAA;
}
.but {
  display: flex;
  justify-content: space-evenly;
}
.butns {
  background-color: #F56D91;
  color: #F7F5F2;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}
.co {
  display: flex;
  justify-content: center;
}
.bu {
  background-color:#A66CFF;
  border: none;
  font-size: 12px;
  padding: 5px;
  color: #6FDFDF;
}